.title {
  padding-bottom: 20px;
  text-align: center;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 3px;
  margin: 20px auto;
  background: #d94cec;
  border-radius: 4px;
  color: rgb(255, 253, 255);
  text-align: center;
  transform-style: initial;
}
